{% extends 'base2.html' %}

{% load static %}
{% block content %}
    <section class="breadcrumb-section">
      <h2 class="sr-only">Site Breadcrumb</h2>
      <div class="container">
        <div class="breadcrumb-contents">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </section>
    <section class="inner-page-sec-padding-bottom space-db--30">
      <div class="container">
        <div class="row space-db-lg--60 space-db--30">
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/images/blog_pic1.png' %}" alt="" style ="width: 350px">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html"> Introduction to ML for Beginners</a></h3>
                <p class="post-meta"><span>13/08/2023 </span> | <a href="#">AI_Noah</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>We have seen Machine Learning as a buzzword for the past few years, the reason for this might be the high amount of data production by applications, the increase of computation power in the past few years and the development of better algorithms.
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/images/blog_pic2.jpg' %}" alt="" style ="width: 350px">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Where to start:Best classics for beginners.</a></h3>
                <p class="post-meta"><span>28/10/2023 </span> | <a href="#">Bookworm</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Want to start reading the classics but not sure where to start?In our guide to the best classics for beginners, we shares six easy-to-read classic books you'll love.
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/images/blog_pic3.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">27 Cookbooks for Beginners</a></h3>
                <p class="post-meta"><span>30/10/2023 </span> | <a href="#">Chef_Noah</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Opening up an actual cookbook for the first time can be super intimidating—especially if you’re deep in the “work all day, takeout all night” kind of mindset
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/images/blog_pic4.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">IMAGINE A LIBRARY AS A GARDEN</a></h3>
                <p class="post-meta"><span>22/01/2023 </span> | <a href="#">John Brady</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Imagine a library as a garden where the human spirit can find its own deepest treasures, a carefully curated space where we can engage in dialogue with the most brilliant minds of history.
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/image/others/blog-grid-4.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Grow to Epiphytic Tropical Plants</a></h3>
                <p class="post-meta"><span>30/10/2023 </span> | <a href="#">Biomistress</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Embark on a journey through the mesmerizing world of epiphytic tropical plants. From the resilient bromeliads to the elegant orchids, these flora thrive in the canopy, defying conventional growth. Join us as we unravel their secrets, celebrating nature's ingenuity in just fifty words.
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/image/others/blog-grid-1.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Want More Money? Start TRADING !!!</a></h3>
                <p class="post-meta"><span>30/11/2023 </span> | <a href="#">Mathidigy</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>In a world where financial freedom beckons, trading stands as a gateway to increased prosperity. Whether you're a novice or seasoned investor, the allure of augmenting wealth through strategic trades is undeniable. Join us as we navigate the landscape of trading, unraveling strategies, and insights to elevate your financial journey.
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/image/others/blog-grid-3.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Beware The BLOG TITLE Scam</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Maria Denardo is the Fashion Director theFashion Spot at. Prior to joining tFS, she worked as...
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/image/others/blog-grid-1.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">9 Ways BLOG TITLE Can Make You Invincible</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Maria Denardo is the Fashion Director theFashion Spot at. Prior to joining tFS, she worked as...
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="{% static 'website/image/others/blog-grid-2.jpg' %}" alt="">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Want More Money? Start BLOG TITLE</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Maria Denardo is the Fashion Director theFashion Spot at. Prior to joining tFS, she worked as...
                  
                                                   
                                                       
                                  
                                                   
                                                       
                                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--=================================
  Brands Slider
===================================== -->
  <section class="section-margin">
    <h2 class="sr-only">Brand Slider</h2>
    <div class="container">
      <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-3.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-4.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-5.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-6.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
        </div>
        <div class="single-slide">
          <img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Footer Area
===================================== -->
{% endblock content %}