{% extends 'base2.html' %}

{% load static %}
{% block content %}
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Blog Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <section class="inner-page-sec-padding-bottom">
            <div class="container">
                <div class="blog-post post-details mb--50">
                    <div class="blog-image">
                        <img src=" {% static 'website/images/kissing.png'%}" alt="">
                    </div>
                    <div class="blog-content mt--30">
                        <header>
                            <h3 class="blog-title"> A  romantic journey into the modern vampire society</h3>
                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="fas fa-user"></i>
                                    <span class="text-gray">Posted by : </span>
                                    admin
                                </span>
                                <span class="post-separator">|</span>
                                <span class="post-date">
                                    <i class="far fa-calendar-alt"></i>
                                    <span class="text-gray">On : </span>
                                    March 10, 2024
                                </span>
                            </div>
                        </header>
                        <article>
                            <h3 class="d-none sr-only">blob-article</h3>
                            <p class="p-0">"Twilight," Stephenie Meyer's mesmerizing debut, delves deep into the entwined realms of love and vampirism, crafting a tale that is as enchanting as it is haunting. Set against the backdrop of the misty town of Forks, Washington, the novel introduces readers to Bella Swan, a young woman drawn into a world where immortal romance and mortal peril collide.</p>
                            <blockquote>
                                <p>If I could dream at all, it would be about you.- Edward Cullen</p>
                            </blockquote>
                            <p>At its core, "Twilight" is a story of forbidden love, epitomized by the star-crossed romance between Bella and the captivating vampire, Edward Cullen. Their connection transcends the boundaries of mortality, igniting a passionate yet perilous affair that captivates readers from the first page to the last. Meyer expertly navigates the complexities of their relationship, blending moments of tender intimacy with the ever-present threat of danger lurking in the shadows.</p>
                            <p>Central to the novel 's allure is the allure of vampirism itself—the eternal allure of immortality juxtaposed with the darkness that accompanies it. Meyer crafts a rich mythology surrounding vampires, imbuing them with both allure and menace, and explores the moral dilemmas they face in their quest for love and survival.</p>
                            <p>While some may critique the novel's romanticism as overly melodramatic, its portrayal of love and vampirism resonates with readers, evoking a timeless fascination with the supernatural and the enduring power of love to defy all odds. "Twilight" remains a hauntingly beautiful exploration of the eternal dance between darkness and desire, leaving an indelible mark on the genre of paranormal romance.</p>
                        </article>
                        <footer class="blog-meta">
                            <div> <a href="#">3 comments </a> / TAGS: <a href="#">romance</a>, <a href="#">fiction</a>,
                                <a href="#">drama</a></div>
                        </footer>
                    </div>
                </div>
                <div class="share-block mb--50">
                    <h3>Share Now</h3>
                    <div class="social-links  justify-content-center  mt--10">
                        <a href="#" class="single-social social-rounded"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="single-social social-rounded"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="single-social social-rounded"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#" class="single-social social-rounded"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="single-social social-rounded"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="comment-block-wrapper mb--50">
                    <h3>3 Comments</h3>
                    <div class="single-comment">
                        <div class="comment-avatar">
                            <img src="{% static 'website/images/Khôi.jpg' %}" alt="">
                        </div>
                        <div class="comment-text">
                            <h5 class="author"> <a href="#"> Author</a></h5>
                            <span class="time">April 8, 2024 at 12:38 pm</span>
                            <p>immortal love exists</p>
                        </div>
                        <a href="#" class="btn btn-outlined--primary btn-rounded reply-btn">Reply</a>
                    </div>
                    <div class="single-comment">
                        <div class="comment-avatar">
                            <img src="{% static 'website/images/Khải.jpg' %}" alt="">
                        </div>
                        <div class="comment-text">
                            <h5 class="author"> <a href="#">Khai</a></h5>
                            <span class="time">April 19, 2024 at 3:00 am</span>
                            <p>bravo mi amigo</p>
                        </div>
                        <a href="#" class="btn btn-outlined--primary btn-rounded reply-btn">Reply</a>
                    </div>
                    <div class="single-comment">
                        <div class="comment-avatar">
                            <img src="{% static 'website/images/Tuấn.png' %}" alt="">
                        </div>
                        <div class="comment-text">
                            <h5 class="author"> <a href="#">Tuan</a></h5>
                            <span class="time">april 30, 2024 at 3:30 am</span>
                            <p>Awesome Post, you are the best </p>
                        </div>
                        <a href="#" class="btn btn-outlined--primary btn-rounded reply-btn">Reply</a>
                    </div>
                    <div class="single-comment">
                        <div class="comment-avatar">
                            <img src="{% static 'website/images/Tân.jpg' %}" alt="">
                        </div>
                        <div class="comment-text">
                            <h5 class="author"> <a href="#">Tan</a></h5>
                            <span class="time">april 30, 2024 at 4:30 am</span>
                            <p>I read it, a true master piece !</p>
                        </div>
                        <a href="#" class="btn btn-outlined--primary btn-rounded reply-btn">Reply</a>
                    </div>
                </div>
                <div class="replay-form-wrapper">
                    <h3 class="mt-0">LEAVE A REPLY</h3>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <form action="https://htmldemo.net/pustok/pustok/" class="blog-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="message">Comment</label>
                                    <textarea name="message" id="message" cols="30" rows="10"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" id="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="text" id="website" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="submit-btn">
                                    <a href="#" class="btn btn-black">Post Comment</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!--=================================
  Brands Slider
===================================== -->
    <section class="section-margin">
        <h2 class="sr-only">Brand Slider</h2>
        <div class="container">
            <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-3.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-4.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-5.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-6.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
                </div>
                <div class="single-slide">
                    <img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Footer Area
===================================== -->
{% endblock content %}