{% extends 'base2.html' %}

{% load static %}
{% block content %}

		<section class="breadcrumb-section" style="margin-top: -30px">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
							<li class="breadcrumb-item active">Faq</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>

		<!-- faq Page Start -->
		<div class="faq-area inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner text-center">
							<h1>GENERAL QUESTION &amp; COMMENTS</h1>
						</div>
					</div>
				</div>
				<div class="row mbn-30">
					
					<div class="col-lg-6 col-12">
						<!--FAQ (Accordion) Start-->
						<div class="accordion" id="gq-faqs-1">
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-1">Tại sao nên mua sắm tại Online Bookstore ?</button></h5>
								</div>
								<div id="gq-faq-1" class="collapse show" data-parent="#gq-faqs-1">
									<div class="card-body">
										<p>Online Bookstore chúng tôi cung cấp một kho sách đồ sộ, tiết kiệm thời gian, giá cả cạnh tranh, dịch vụ giao hàng nhanh chóng, và chính sách đổi trả linh hoạt. Tất cả nhằm mang lại trải nghiệm mua sắm tốt nhất cho bạn.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-2">Làm thế nào để tìm kiếm sách trên website ?</button></h5>
								</div>
								<div id="gq-faq-2" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<p>Quý khách có thể sử dụng thanh tìm kiếm trên trang chủ để nhập tên sách, tác giả, hoặc thể loại sách mà mình muốn tìm. Hệ thống của chúng tôi sẽ hiển thị các kết quả phù hợp nhất với yêu cầu của bạn.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-3">Làm thế nào để đặt hàng trên website ?</button></h5>
								</div>
								<div id="gq-faq-3" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<p>Sau khi tìm thấy cuốn sách bạn muốn mua, nhấp vào nút "Thêm vào giỏ hàng", sau đó bạn có thể tiếp tục mua sắm hoặc đi tới giỏ hàng của mình để hoàn tất đơn hàng. Tại trang giỏ hàng, bạn sẽ được hướng dẫn cách thực hiện thanh toán và nhập thông tin giao hàng.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-4"> Thời gian giao hàng mất bao lâu ?</button></h5>
								</div>
								<div id="gq-faq-4" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<p>Thời gian giao hàng thường mất từ 2 đến 5 ngày làm việc, tùy thuộc vào địa chỉ nhận hàng của bạn. Đối với các khu vực nội thành lớn, thời gian giao hàng có thể nhanh hơn.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
						</div><!--FAQ (Accordion) End-->
					</div>
					
					<div class="col-lg-6 col-12 accordion-2">
						<!--FAQ (Accordion) Start-->
						<div class="accordion" id="gq-faqs-2">
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-5">Tôi có thể liên hệ với ai nếu có vấn đề với đơn hàng của mình? ?</button></h5>
								</div>
								<div id="gq-faq-5" class="collapse show" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Hãy liên hệ ngay cho chúng tôi qua số điện thoại 0327728199. Online Bookstore luôn sẵn sàng hỗ trợ bạn 24/7. Nếu bạn muốn gặp trực tiếp, hãy đến UET 301-G2 .</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-6">Online Bookstore là điểm đến lý tưởng cho người yêu sách chứ ?</button></h5>
								</div>
								<div id="gq-faq-6" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Tất nhiên rồi, chúng tôi cam kết tiếp tục cung cấp dịch vụ tốt nhất và không ngừng cải thiện để mang lại trải nghiệm mua sắm thú vị và tiện lợi hơn cho khách hàng.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-7">Online Bookstore thực sự là một tác phẩm nghệ thuật !!!</button></h5>
								</div>
								<div id="gq-faq-7" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Chúng tôi rất vui và cảm kích khi nhận được lời khen về thiết kế của trang web. Đây là một phần quan trọng của sứ mệnh của chúng tôi để cung cấp cho khách hàng trải nghiệm mua sắm trực tuyến tuyệt vời nhất có thể. Thiết kế đẹp mắt không chỉ là niềm tự hào của chúng tôi mà còn là cam kết của chúng tôi đối với sự thoải mái và hài lòng của khách hàng. Xin cảm ơn bạn đã nhận ra và đánh giá cao điều này!</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-bs-toggle="collapse" data-bs-target="#gq-faq-8">Tôi muốn gửi lời cảm ơn đến Online Bookstore </button></h5>
								</div>
								<div id="gq-faq-8" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Chân thành cảm ơn bạn đã gửi lời khen đến Online Bookstore. Chúng tôi rất vui vì những lời khen của bạn và hy vọng rằng trải nghiệm của bạn sẽ tiếp tục được cải thiện và nâng cao trong tương lai. Nếu bạn có bất kỳ câu hỏi hoặc yêu cầu nào khác, đừng ngần ngại liên hệ với chúng tôi. Cảm ơn bạn đã chọn Online Bookstore!
										</p>
									</div>
								</div>
							</div><!--Cart End-->
							
						</div><!--FAQ (Accordion) End-->
					</div>
					
				</div>
			</div>
		</div>
		<!-- faq Page End -->
	</div>
	<!--=================================
  Brands Slider
===================================== -->
	<section class="section-margin">
		<h2 class="sr-only">Brand Slider</h2>
		<div class="container">
			<div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-3.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-4.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-5.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-6.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--=================================
    Footer Area
===================================== -->
{% endblock content %}	