{% extends 'base2.html' %}

{% load static %}
{% block content %}

		<section class="breadcrumb-section" style="margin-top: -30px">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
							<li class="breadcrumb-item active">My Account</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<div class="page-section inner-page-sec-padding" style="margin-top: -20px">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<!-- My Account Tab Menu Start -->
							<div class="col-lg-3 col-12">
								<div class="myaccount-tab-menu nav" role="tablist">
									<a href="#dashboad" class="active" data-bs-toggle="tab"><i
											class="fas fa-tachometer-alt"></i>
										Dashboard</a>
									<a href="#orders" data-bs-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
									
									<a href="#payment-method" data-bs-toggle="tab"><i class="fa fa-credit-card"></i>
										Payment
										Method</a>
									<a href="#address-edit" data-bs-toggle="tab"><i class="fa fa-map-marker"></i>
										profile</a>
									<a href="#account-info" data-bs-toggle="tab"><i class="fa fa-user"></i> Change Password</a>
									<a href="#log-out-account"  data-bs-toggle="tab"><i class="fas fa-sign-out-alt"></i> Logout</a>
								</div>
							</div>
							<!-- My Account Tab Menu End -->
							<!-- My Account Tab Content Start -->
							<div class="col-lg-9 col-12 mt--30 mt-lg--0">
								<div class="tab-content" id="myaccountContent">
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade show active" id="dashboad" role="tabpanel">
										<div class="myaccount-content">
											<h3>Dashboard</h3>
											<div class="welcome mb-20">
												<p>
													Hello, <strong>{{ username }}</strong>!!!
												</p>
											</div>
											<p class="mb-0">
												Chào mừng đến với Online Bookstore - website mua sắm dễ dàng. 
												Ở đây bạn có thể kiểm tra và xem các đơn hàng gần đây, quản lý địa chỉ giao hàng, thanh toán của bạn &amp; chỉnh sửa mật khẩu thông tin tài khoản.
											</p>
											<p>
												Your Email: <strong>{{ user.email }}</strong>
											</p>
										</div>
									</div>
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade" id="orders" role="tabpanel">
										<div class="myaccount-content">
											<h3>Orders</h3>
											<ul>
												{% for item in orders %}
												{% if item.success is False and item.canceled_reason == '' %}
														<li>
															<span style= "padding-right: 20px">Orders  at {{ item.created_at }} </span>
															<span style= "padding-right: 20px"> Status: On going</span>					
															<span style= "padding-right: 20px"> Order notes: {{ item.order_notes }}</span>
															<span> <a href="{% url 'user_orders' item.id  %}" style="color: #36696b;">View details</a> </span>
														</li>
												{% endif %}
												{% if item.success is False and item.canceled_reason != '' %}
														<li>
															<span style= "padding-right: 20px">Orders  at {{ item.created_at }} </span>
															<span style= "padding-right: 20px"> Status: Canceled</span>
															<span style= "padding-right: 20px"> Cancel reason: {{ item.canceled_reason }}</span>
															<span style= "padding-right: 20px"> <a href="{% url 'user_orders' item.id  %}" style="color: #36696b;">View details</a> </span>
														</li>
												{% endif %}
												{% if item.success is True %}
														<li>
															<span style= "padding-right: 20px">Orders  at {{ item.created_at }} </span>
															<span style= "padding-right: 20px"> Status: Done</span>
															<span style= "padding-right: 20px"> Order notes: {{ item.order_notes }}</span>
															<span> <a href="{% url 'user_orders' item.id  %}" style="color: #36696b;">View details</a> </span>
														</li>
												{% endif %}
												{% empty %}
													<p>No items in orders.</p>
												{% endfor %}
											</ul>
										</div>
									</div>
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade" id="download" role="tabpanel">
										<div class="myaccount-content">
											<h3>Downloads</h3>
											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered">
													<thead class="thead-light">
														<tr>
															<th>Product</th>
															<th>Date</th>
															<th>Expire</th>
															<th>Download</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Mostarizing Oil</td>
															<td>Aug 22, 2018</td>
															<td>Yes</td>
															<td><a href="#" class="btn">Download File</a></td>
														</tr>
														<tr>
															<td>Katopeno Altuni</td>
															<td>Sep 12, 2018</td>
															<td>Never</td>
															<td><a href="#" class="btn">Download File</a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade" id="payment-method" role="tabpanel">
										<div class="myaccount-content">
											<h3>Payment Method</h3>
											<p class="saved-message">You Can't Saved Your Payment Method yet.</p>
										</div>
									</div>
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade" id="address-edit" role="tabpanel">
										<div class="myaccount-content">
											<h3>Profile</h3>
											<form method="post" action="{% url 'update_profile' %}">  <!-- Ensure this URL is defined in your urls.py -->
												{% csrf_token %}
												<div class="row">
													<div class="col-md-6 col-12 mb-20">
														<div class="form-group">
															<label for="first_name">First Name</label>
															<input type="text" class="form-control" id="first_name" name="first_name" value="{{ form.first_name.value|default_if_none:user.first_name }}" required>
														</div>
													</div>
													<div class="col-md-6 col-12 mb-20">
														<div class="form-group">
															<label for="last_name">Last Name</label>
															<input type="text" class="form-control" id="last_name" name="last_name" value="{{ form.last_name.value|default_if_none:user.last_name }}" required>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="address">Billing Address</label>
													<input type="text" class="form-control" id="address" name="address" value="{{ form.address.value|default_if_none:user.profile.address }}" required>
												</div>
												<div class="form-group">
													<label for="shipping_address">Shipping Address</label>
													<input type="text" class="form-control" id="shipping_address" name="shipping_address" value="{{ form.shipping_address.value|default_if_none:user.profile.shipping_address }}" required>
												</div>
												<div class="form-group">
													<label for="phone">Phone</label>
													<input type="text" class="form-control" id="phone" name="phone" value="{{ form.phone.value|default_if_none:user.profile.phone }}" required>
												</div>
												<button type="submit" class="btn btn--primary">Update Profile</button>
											</form>
										</div>
									</div>
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade" id="account-info" role="tabpanel">
										<div class="myaccount-content">
											<h3>Password change</h3>
											<div class="account-details-form">
												<form method="post" action="{% url 'change_password' %}">
													{% csrf_token %}
													<div class="row">
														<div class="col-md-12 col-12 mb-15">
															<label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
															{{ form.old_password }}
															{% if form.old_password.errors %}
																<div class="error">{{ form.old_password.errors.as_text }}</div>
															{% endif %}
														</div>
														<div class="col-lg-6 col-12 mb-20">
															<label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
															{{ form.new_password1 }}
															{% if form.new_password1.errors %}
																<div class="error">{{ form.new_password1.errors.as_text }}</div>
															{% endif %}
														</div>
														<div class="col-lg-6 col-12 mb-20">
															<label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
															{{ form.new_password2 }}
															{% if form.new_password2.errors %}
																<div class="error">{{ form.new_password2.errors.as_text }}</div>
															{% endif %}
														</div>
														<div class="col-12">
															<button type="submit" class="btn" style="background-color: #36696b; color: white" href="{% url 'login' %}">CHANGE PASSWORD</button>
														</div>
													</div>

												</form>
												
											</div>
										</div>
									</div>
									<!-- Log out -->
									<div class="tab-pane fade" id="log-out-account" role="tabpanel">
										<div class="myaccount-content">
											<h2>Log Out</h2>
											<form method="post" action="{% url 'logout' %}">
												{% csrf_token %}
												<p>Are you sure you want to log out?</p>
												<button type="submit" class="btn btn-danger">Log Out</button>
												<a class="btn btn-outline-secondary" href="{% url 'home' %}" role="button">Cancel</a>
											</form>
										</div>
									</div>
									<!-- Single Tab Content End -->
								</div>
							</div>
							<!-- My Account Tab Content End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=================================
  Brands Slider
===================================== -->
	<section class="section-margin">
		<h2 class="sr-only">Brand Slider</h2>
		<div class="container">
			<div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-3.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-4.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-5.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-6.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--=================================
    Footer Area
===================================== -->
<!-- my-account.html -->


	
{% endblock content %}	