{% extends 'base.html' %}

{% block content %}
	<div class="container">
		{% if product.book_available is True %}
		<div class="row">
			<div class="col-lg">
				<br><div class="text-center" style="width: 22rem;">
					<img src="{{ product.image_url }}" class="card-img">
				</div>
			</div>
			<div class="col-lg">
				<br>
				<div class="card card-body">
					<h3>{{product.title}}</h3>
					<hr>
					<!-- Display total price based on quantity -->
					<h4>Total: $<span id="totalPrice">{{product.price|floatformat:2}}</span></h4>
					<hr>
					<h5>Total2: $<span id="totalPrice">{{item.total_price|floatformat:2}}</span></h5>
					<!-- Quantity selection -->
					<label for="quantity">Quantity:</label>
					<input type="number" id="quantity" name="quantity" min="1" value="1" onchange="updateTotal()">
					<br><br>

					<div id="paypal-button-container"></div>

				</div>
			</div>
		</div>
	</div>

	<!--Paypal payments-->
	<div id="paypal-button-container"></div>

	<script
		src="https://www.paypal.com/sdk/js?client-id=AaDbFCTAdi8NU4o-x6oOaBiLLoybkvO8w3xVZ2LgPAiTRwT4dDJu5u_ZecP9OtLTDvr7GZtZk_HuM3kq&currency=USD"></script>

	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		var csrftoken = getCookie('csrftoken');
		var totalPrice = parseFloat('{{object.price}}');
		var productId = '{{object.id}}';
		var quantityInput = document.getElementById('quantity');
		var totalSpan = document.getElementById('totalPrice');

		function updateTotal() {
			var quantity = quantityInput.value;
			var total = totalPrice * quantity;
			totalSpan.innerText = total.toFixed(2);
		}

		function completeOrder() {
			var url = "{% url 'complete' %}";

			fetch(url, {
				method: 'POST',
				headers: {
					'content-type': 'application/json',
					'X-CSRFToken': csrftoken,
				},
				body: JSON.stringify({ 'productId': productId, 'quantity': quantityInput.value })
			})
		}		

		// Render the PayPal button into #paypal-button-container
		paypal.Buttons({

			// Set up the transaction
			createOrder: function (data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: totalPrice * quantityInput.value,
							currency_code: 'USD',
							quantity: quantityInput.value
						}
					}]
				});
			},

			// Finalize the transaction
			onApprove: function (data, actions) {
				return actions.order.capture().then(function (details) {
					// Show a success message to the buyer
					completeOrder();
					alert('Transaction completed by ' + details.payer.name.given_name + '!');
				});
			}
		}).render('#paypal-button-container');
	</script>
	{% else %}
	</div>
	<div class="mx-auto" style="width: 340px;">
	<h4 class="text-danger">Sorry, this book is out of Stock !</h4>
	{% endif %}
{% endblock content %}