
{% extends 'base2.html' %}

  
{% block content %}

<br>
<div class="container">
  <div class="card mb-3" style="max-width: 840px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ object.image_url }}" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" >{{ object.title }}</h4>
            <p class="card-text">Author: {{ object.author }}</p><hr>
            <p class="card-text">{{ object.description }}</p>
          </div>
        </div>
      </div>
  </div>

  <!-- <p>Follow Author: </p> -->
  <p>Rating Star: {{ object.rating|floatformat:2 }}</p>
  <p>Publisher: {{ object.publisher}}</p>
  <p>Price: $ {{ object.price|floatformat:2 }}</p>


  {% if object.book_available is True %}
  <a href="{% url 'checkout' object.pk %}" class="btn btn-outline-success" role="button">Buy Now</a>
  {% else %}
  <h4 class="text-danger">Out of Stock !</h4>
  {% endif %}
  <div class="col">
    <div class="row p-3">
        <div class="col-6 text-end">
            <div class="col">
                <div class="row p-3">
                    <div class="col-6">
                      <form id="add-to-basket-form" method="post" action="{% url 'basket:basket_add' %}">
                        {% csrf_token %}
                        <input type="hidden" name="productid" value="{{ object.id }}">
                        <select name="productqty">
                            <!-- Options for product quantity -->
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <button type="submit" id="add-to-basket-btn" class="btn btn-secondary btn-sm">Add to basket</button>
                        <div id="message-container">
                          {% if messages %}
                          {% for message in messages %}
                              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                          {% endfor %}
                      {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </div>
</div>
</div>
{% endblock content %}

