{% extends 'base2.html' %}

{% load static %}
{% block content %}
{% load custom_filters %}
<style>
  .small-btn {
    padding: 0.3rem 0.1rem; 
    height: 10px; /* Chiều cao nút */
    width: 40px; /* Chiều rộng nút */
}
  .wishlist-link:hover img {
    color: red;
  }
</style>

<div class="container">
  
  <section class="breadcrumb-section" style="margin-top:-35px">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
      <div class="breadcrumb-contents">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left:-13px"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Product Details</li>
          </ol>
        </nav>
      </div>
    </div>
    {% if messages %}
    <div class="alert alert-warning" alert-{{ message.tags }}" role="alert" style="margin-top: -30px; height: 70px; margin-bottom: 10px;">
    {% for message in messages  %}
      {{message|safe}} - <a href="{% url 'wishlist'  %}" class="alert-link">Your Wishlist</a>.
    {% endfor %}
    {% endif %}
  </section>
  
  <div class="card mb-3" style="max-width: 820px; margin-top:-20px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ product.image_url }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title" style="margin-top:-20px">{{ product.title }}</h4>
          <p class="card-text" style="margin-top:-5px">Author: {{ product.author }}</p><hr>
          {% load rating_stars %}
          <p class="card-text" style="margin-top:-10px; ">Rating: {{ product.rating|floatformat:2 }} <a style="color: #e6ac00;">{% render_stars product.rating %} </a>
            <a href="{% url 'user_wishlist' product.id  %}" class="wishlist-link" style="margin-left: 320px; ">
              <img src="{% static 'website/images/bookmark.png' %}"  alt="Cart" style="width: 40px; height: 40px;">
            </a>
          </span></p>
          
          <p class="card-text" style="margin-top:-25px">Publisher: {{ product.publisher }}</p>
          <p class="card-text" style="margin-top:-20px">Price: $ {{ product.price|floatformat:2 }}</p>
          <p class="card-text" style="margin-top:-20px">{{ product.description }}</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <form id="add-to-basket-form" method="post" action="{% url 'basket:basket_add' %}" style="display: inline-block">
                {% csrf_token %}
                <input type="hidden" name="productid" value="{{ product.id }}">
                <div class="quantity d-flex align-items-center">
                  <button type="button" id="minus-btn" class="btn btn-sm btn-outline-secondary small-btn" ><a style="font-size: 25px">-</a></button>
                  <input type="text" id="quantity-input" class="form-control mx-2 small-btn" style="width: 60px; height: 40px; font-size: 16px" name="productqty" value="1">
                  <button type="button" id="plus-btn" class="btn btn-sm btn-outline-secondary small-btn">
                  <a style="font-size: 25px">+</a></button>
                </div>
                <button type="submit" id="add-to-basket-btn" class="btn btn-secondary btn-sm" role="button" style="width:200px; display: flex; align-items: center; justify-content: center; margin-top: 10px">
                  Add to basket
                  <img src="{% static 'website/images/shopping-cart.png' %}" alt="Cart" style="width: 20px; height: 20px; margin-left: 10px;">
                </button>
              </form>
            </div>
            <div class="col-md-6">
              <div style="padding-top:24px; width: 180px; padding-left: 30px">
                {% if product.book_available %}
                <a href="{% url 'basket:basket_checkout2' %}"  class="btn btn-outline-success" role="button" style="width:200px; display: flex; align-items: center; justify-content: center; margin-top: 36px">
                  Buy Now 
                  <img src="{% static 'website/images/checklist.png' %}" alt="Cart" style="width: 20px; height: 20px; margin-left: 10px;">
                </a>
                {% else %}
                <h4 class="text-danger">Out of Stock!</h4>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Phần hiển thị comment -->
    <div>
      <h3 style="margin-top: 30px;">Comments</h3>
      {% for comment in product.comments.all %}
        <div class="comment">
          <p><strong>{{ comment.user.username }}</strong> {% for _ in 5|custom_range %}
            {% if forloop.counter >= comment.rating %}
              <span class="fa fa-star" style="color: #e6ac00; font-size: 10px" ></span>
            {% endif %}
          {% endfor %} :</p>
          <p style="font-size: 16px; line-height: 5px;">{{ comment.content }}  <a style="font-size: 10px;">{{ comment.created_at|date:"Y-m-d H:i" }}</a>
          </p>
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
      <hr>
      <!-- Add Comment Form -->
      <form method="post" >
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{ product.id }}" />
        <label for="id_content" style="font-size: 20px; font-weight: bold;">Add a comment:</label>
        <textarea class="mb-0 form-control" id="id_content" name="content" placeholder="Enter your comment here..." required></textarea>
        <label for="star-rating" style="font-size: 20px; font-weight: bold;">Rating:</label>
        <div class="emoji-icons" style="color: #e6ac00;">
          <input type="radio" id="star1" name="rating" value="5">
          <label for="star5">★</label>
          <input type="radio" id="star4" name="rating" value="4">
          <label for="star4">★★</label>
          <input type="radio" id="star3" name="rating" value="3">
          <label for="star3">★★★</label>
          <input type="radio" id="star2" name="rating" value="2">
          <label for="star2">★★★★</label>
          <input type="radio" id="star1" name="rating" value="1">
          <label for="star1">★★★★★</label>
        </div>
        <button type="submit" class="btn btn--primary" style="margin-left: 660px">Submit</button>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const minusButton = document.getElementById('minus-btn');
  const plusButton = document.getElementById('plus-btn');
  const quantityInput = document.getElementById('quantity-input');

  minusButton.addEventListener('click', function () {
    let qty = parseInt(quantityInput.value);
    if (qty > 1) {
      quantityInput.value = qty - 1;
    }
  });

  plusButton.addEventListener('click', function () {
    let qty = parseInt(quantityInput.value);
    quantityInput.value = qty + 1;
  }); 
});
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const starRatingElements = document.querySelectorAll('.star-rating');
    starRatingElements.forEach(function(starRatingElement) {
      const rating = parseInt(starRatingElement.dataset.rating);
      for (let i = 0; i < 5; i++) {
        const starIcon = document.createElement('span');
        starIcon.classList.add('fa');
        if (i < rating) {
          starIcon.classList.add('fa-star', 'checked');
        } else {
          starIcon.classList.add('fa-star');
        }
        starRatingElement.appendChild(starIcon);
      }
    });
  });
  </script>

{% endblock content %}
