{% extends 'base2.html' %}

{% load static %}
{% block content %}
<section class="hero-area hero-slider-2">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-lg-9">
                <div class="sb-slick-slider" data-slick-setting='{
                                                        "autoplay": true,
                                                        "autoplaySpeed": 8000,
                                                        "slidesToShow": 1,
                                                        "dots":true
                                                        }'>
                    <div class="single-slide bg-image bg-position-left bg-position-lg-center"
                        data-bg=" {% static 'website/images/pexels-pixabay-207607.jpg' %}" >
                        <div class="home-content text-left text-md-center pl--30 pl-md--0">
                            <div class="row">
                                <div class="col-lg-7 col-xl-5 col-md-6 col-sm-6">
                                    <h3 style="color: white">Đắm chìm</h3>
                                    <p style="color: white">vào thế giới sách
                                        <br>của riêng mình</p>
                                    <a href="{% url 'shop-list' %}" class="btn btn-outlined--primary" style="color: white">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide bg-image" data-bg=" {% static 'website/images/pexels-lepta-studio-13929613.jpg' %}">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-7">
                                    
                                    <h3 class="h2-v2" style = "color: white">Khám phá</h3>
                                    <p style="color: white">Biển rộng kiến thức
                                        <br style="padding-left: 50px;">bao la rộng lớn</p>
                                    <a href="{% url 'shop-list' %}" class="btn btn-outlined--primary" style="color: white" >
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide bg-image" data-bg=" {% static 'website/images/pexels-anne-981110.jpg' %}">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3 style = "color: white">Tận hưởng</h3>
                                    <p style="color: white"> và cảm nhận không khí 
                                        <br>thiên nhiên tươi đẹp</p>
                                    <a href="{% url 'shop-list' %}" class="btn btn-outlined--primary" style="color: white; background-color: grey;" >
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide bg-image" data-bg=" {% static 'website/images/pexels-josh-hild-4256852.jpg' %}">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3 style = "color: white" class="h2-v2">Bạn đồng hành</h3>
                                    <p style = "color: white">cùng tiến tới ước mơ 
                                        <br>tương lai phía trước</p>
                                    <a href="{% url 'shop-list' %}" class="btn btn-outlined--primary" style = "color: white"> 
                                        Shop Now Here
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide bg-image" data-bg=" {% static 'website/images/pexels-eliza-ari-19015217.jpg' %}">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3 class="h2-v2" style = "color: white">Cùng trải nghiệm</h3>
                                    <p style = "color: white" >những quyển sách thú vị 
                                        <br>tại Online Bookstore</p>
                                    <a href="{% url 'shop-list' %}" class="btn btn-outlined--primary" style = "color: white">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 mt--30 mt-lg--0">
                <div class="header-search-block" style="margin-left: -10px; padding-top: -100px;">
                    <form class="search" action="{% url 'semantic_search_results' %}" method="get">
                        <input name="q" type="text" class="search-input" autocomplete="off" placeholder="Promt here" style="margin-left: 10px; border-radius: 10px;">
                        <button type="submit" class="search-button" style="width: 50px; padding: 0px; position: absolute; border-radius: 10px;"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="sb-slick-slider hero-products-group-slider product-border-reset" data-slick-setting='{
                    "autoplay": true,
                    "autoplaySpeed": 8000,
                    "slidesToShow": 1,
                    "rows": 2
                }' data-slick-responsive='[
                    {"breakpoint":992, "settings": {"slidesToShow": 2,"rows":2}},
                    {"breakpoint":768, "settings": {"slidesToShow": 1}},
                    {"breakpoint":490, "settings": {"slidesToShow": 1}}
                ]'>
                    {% for book in slider_books %}
                    {% load rating_stars %}
                    <div class="single-slide">
                        <div class="product-card card-style-list" style="height: 230px">
                            <div class="card-image" >
                                <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width:50px; height: 75px">
                            </div>
                            <div class="product-card--body">
                                <a href="#" class="author" style="font-size: 14px;">
                                    {{ book.author }}
                                </a>
                                <div class="product-header" >
                                    <h3><a style="font-size: 18px;" href="{% url 'detail' book.pk %}">{{ book.title }}</a></h3>
                                    <span class="star-rating" style="padding-top: 10px">{% render_stars book.rating %}</span>
                                </div>
                                
                                <div class="price-block">                         
                                    <span class="price" style="font-size: 22px; ">£{{ book.price }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
</section>
<!--=================================
Home Features Section
===================================== -->
<section class="mb--30">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text">
                        <h5>Free Shipping Item</h5>
                        <p> Orders over $500</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-redo-alt"></i>
                    </div>
                    <div class="text">
                        <h5>Money Back Guarantee</h5>
                        <p>100% money back</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-piggy-bank"></i>
                    </div>
                    <div class="text">
                        <h5>Cash On Delivery</h5>
                        <p>Friendly shipper</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-life-ring"></i>
                    </div>
                    <div class="text">
                        <h5>Help & Support</h5>
                        <p>Call us : 0327728199</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Promotion Section One
===================================== -->
<section class="section-margin">
    <h2 class="sr-only">Promotion Section</h2>
    <div class="container">
        <div class="row space-db--30">
            <div class="col-lg-6 mb--30">
                <a href="#nonfiction" class="promo-image promo-overlay">
                    <img src="{% static 'website/images/nonfiction.jpg' %}" alt="" style="height:303px">
                </a>
            </div>
            <div class="col-lg-6 mb--30">
                
                <a href = "#harry-potter-section" class="promo-image promo-overlay">
                    <video width="100%" controls loop autoplay muted>
                        <source src="{% static 'website/videos/harrypotter_castle.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div>
        </div>
    </div>
</section>
<!--=================================
Home Slider Tab
===================================== -->
<section class="section-padding">
    <h2 class="sr-only">Home Tab Slider Section</h2>
    <div class="container">
        <div class="sb-custom-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="shop-tab" data-bs-toggle="tab" href="#shop" role="tab"
                        aria-controls="shop" aria-selected="true">
                        Featured Products
                    </a>
                    <span class="arrow-icon"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="men-tab" data-bs-toggle="tab" href="#men" role="tab"
                        aria-controls="men" aria-selected="true">
                        New Arrivals
                    </a>
                    <span class="arrow-icon"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="woman-tab" data-bs-toggle="tab" href="#woman" role="tab"
                        aria-controls="woman" aria-selected="false">
                        Most view products
                    </a>
                    <span class="arrow-icon"></span>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="shop" role="tabpanel" aria-labelledby="shop-tab">
                    <div class="product-slider multiple-row slider-border-multiple-row sb-slick-slider"
                         data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows": 2,
                            "dots": true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>
                
                        {% for book in featured_products %}
                        <div class="single-slide" >
                            {% load rating_stars %}
                            <div class="product-card">
                                
                                <div class="product-card--body">
                                    <div class="card-image">
                                        <img src="{{ book.image_url }}" alt="{{ book.title }}" style="height: 350px;">
                                    </div>
                                    
                                </div>
                                <div class="product-header">
                                    <a href="#" class="author">
                                        {{ book.author }}
                                    </a>
                                    <h3><a href="{% url 'detail' book.pk %}" class = "book-title">{{ book.title }}</a></h3>
                                    <span class="star-rating" style=" font-size: 20px">{% render_stars book.rating %}</span>
                                    <div class="price-block">
                                        <span class="price">£{{ book.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>     
                <div class="tab-pane" id="men" role="tabpanel" aria-labelledby="men-tab">
                    <div class="product-slider multiple-row slider-border-multiple-row sb-slick-slider"
                         data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows": 2,
                            "dots": true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>
                
                        {% for book in new_arrivals %}
                        <div class="single-slide" >
                            {% load rating_stars %}
                            <div class="product-card">
                                
                                <div class="product-card--body">
                                    <div class="card-image">
                                        <img src="{{ book.image_url }}" alt="{{ book.title }}" style="height: 350px;">
                                    </div>
                                    
                                </div>
                                <div class="product-header">
                                    <a href="#" class="author">
                                        {{ book.author }}
                                    </a>
                                    <h3><a href="{% url 'detail' book.pk %}" class = "book-title">{{ book.title }}</a></h3>
                                    <span class="star-rating" style=" font-size: 20px">{% render_stars book.rating %}</span>
                                    <div class="price-block">
                                        <span class="price">£{{ book.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="woman" role="tabpanel" aria-labelledby="woman-tab">
                    <div class="product-slider multiple-row slider-border-multiple-row sb-slick-slider"
                         data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows": 2,
                            "dots": true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>
                
                        {% for book in  most_view_products %}
                        <div class="single-slide" >
                            {% load rating_stars %}
                            <div class="product-card">
                                
                                <div class="product-card--body">
                                    <div class="card-image">
                                        <img src="{{ book.image_url }}" alt="{{ book.title }}" style="height: 350px;">
                                    </div>
                                    
                                </div>
                                <div class="product-header">
                                    <a href="#" class="author">
                                        {{ book.author }}
                                    </a>
                                    <h3><a href="{% url 'detail' book.pk %}" class = "book-title">{{ book.title }}</a></h3>
                                    <span class="star-rating" style=" font-size: 20px">{% render_stars book.rating %}</span>
                                    <div class="price-block">
                                        <span class="price">£{{ book.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-margin">
    <div class="container">
        <div class="section-title section-title--bordered" id="nonfiction">
            <h2>NON-FICTION BOOKS</h2>
        </div>
        <div class="product-slider product-list-slider slider-border-single-row sb-slick-slider"
            data-slick-setting='{
                                    "autoplay": true,
                                    "autoplaySpeed": 8000,
                                    "slidesToShow":3,
                                    "dots":true
                                }' data-slick-responsive='[
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":992, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":575, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":490, "settings": {"slidesToShow": 1} }
                                ]'>
            {% for book in non_fiction_bookss %}
            <div class="single-slide">
                <div class="product-card card-style-list">
                    <div class="card-image">
                        <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width:100px; height: 155px">
                    </div>
                    <div class="product-card--body">
                        {% load rating_stars %}
                        <div class="product-header">
                            <a href="#" class="author" style="font-size: 14px;">
                                {{ book.author }}
                            </a>
                            <h3><a href="{% url 'detail' book.pk %}">{{ book.title }}</a>
                            </h3>
                        </div> 
                        <div class="star-rating">
                            {% render_stars book.rating %}                            
                        </div> 
                        <div class="price-block">
                            <span class="price" style="font-size: 22px; margin-top: 20px;">£{{ book.price }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--=================================
Home Two Column Section
===================================== -->

<section class="bg-gray section-padding-top section-padding-bottom section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb--30 mb-lg--0">
                <div class="home-left-sidebar">
                    <div class="bg-white" style="height: 930px">
                        <h2 class="home-sidebar-title">
                            Special offer
                        </h2>
                        <div class="product-slider countdown-single with-countdown sb-slick-slider"
                            data-slick-setting='{
                                "autoplay": true,
                                "autoplaySpeed": 8000,
                                "slidesToShow": 1,
                                "dots":true
                            }' data-slick-responsive='[
                                {"breakpoint":992, "settings": {"slidesToShow": 2} },
                                {"breakpoint":480, "settings": {"slidesToShow": 1} }
                            ]' style="height: 750px">
                            {% for book in special_offers %}
                            {% load rating_stars %}
                            <div class="single-slide" >
                                <div class="product-card" style="height:700px">
                                    
                                    <div class="product-card--body">
                                        <div class="card-image">
                                            <img src="{{ book.image_url }}" alt="{{ book.title }}">
                                        </div>
                                        
                                    </div>
                                    <div class="product-header">
                                        <a href="#" class="author">
                                            {{ book.author }}
                                        </a>
                                        <h3><a href="{% url 'detail' book.pk %}">{{ book.title }}</a></h3>
                                        <span class="star-rating" style=" font-size: 20px">{% render_stars book.rating %}</span>
                                        <div class="price-block">
                                            <span class="price">£{{ book.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-lg-8">
                <div class="home-right-block"  style="background-color: #36696b;">
                    <div class="single-block bg-white" id="harry-potter-section">
                        <div class="section-title mt-0">
                            <div class="content-container" >
                                <div class="pulsing-text">
                                    <h2 style="color:#36696b">HARRY POTTER BOOKS</h2>
                                </div>
                            </div>
                            

                        </div>
                        <div class="product-slider product-list-slider sb-slick-slider slider-border-single-row "
                            data-slick-setting='{
                                                            "autoplay": true,
                                                            "autoplaySpeed": 8000,
                                                            "slidesToShow":5,
                                                            "dots":true
                                                        }' data-slick-responsive='[
                                                            {"breakpoint":1200, "settings": {"slidesToShow": 2} },
                                                            {"breakpoint":992, "settings": {"slidesToShow": 2} },
                                                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                                                            {"breakpoint":575, "settings": {"slidesToShow": 1} },
                                                            {"breakpoint":490, "settings": {"slidesToShow": 1} }
                                                        ]' >
                                                        {% for book in magic_harry_potter_books %}
                                                        <div class="single-slide">
                                                            <div class="product-card card-style-list">

                                                                    {% load rating_stars %}

                                                                    <div class="book-item">
                                                                        <a href="{% url 'detail' book.id %}">
                                                                            <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width: 100px; height: 150px">
                                                                        </a> 
                                                                        <div class="star-rating">
                                                                            {% render_stars book.rating %}
                                                                            <br>
                                                                            
                                                                            <span style = "color:#36696b; font-family: Open Sans, sans-serif;  font-weight: bold; font-size: 12px ">£{{ book.price }}</span>
                                                                            
                                                                        </div> 

                                                                    </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                        </div>
                    </div>
                    <div class="single-block bg-white">
                        <div class="section-title mt-0">
                            <div class="content-container" >
                                <div class="pulsing-text">
                                    <h2 style="color:#36696b">SPECIAL EDITION BOOKS</h2>
                                </div>
                            </div>
                        </div>
                        <div class="product-slider sb-slick-slider slider-border-single-row" data-slick-setting='{
                                
                                "autoplaySpeed": 8000,
                                "slidesToShow": 5,
                                "dots":true
                            }' data-slick-responsive='[
                                {"breakpoint":992, "settings": {"slidesToShow": 2} },
                                {"breakpoint":768, "settings": {"slidesToShow": 2} },
                                {"breakpoint":480, "settings": {"slidesToShow": 1} },
                                {"breakpoint":320, "settings": {"slidesToShow": 1} }
                            ]'>
                            {% for book in special_edition_books %}
                            <div class="single-slide">
                                <div class="product-card card-style-list">

                                        {% load rating_stars %}

                                        <div class="book-item">
                                            <a href="{% url 'detail' book.id %}">
                                                <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width: 100px; height: 150px">
                                            </a> 
                                            <div class="star-rating">
                                                {% render_stars book.rating %}
                                                <br>
                                                
                                                <span style = "color:#36696b; font-family: Open Sans, sans-serif;  font-weight: bold; font-size: 12px ">£{{ book.price }}</span>
                                                
                                            </div> 

                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
CHILDREN’S BOOKS SECTION
===================================== -->
<section class="section-margin">
    <div class="container">
        <div class="section-title section-title--bordered">
            <h2>ADVENTURE BOOKS</h2>
        </div>
        <div class="product-slider product-list-slider slider-border-single-row sb-slick-slider"
            data-slick-setting='{
                                    "autoplay": true,
                                    "autoplaySpeed": 8000,
                                    "slidesToShow":3,
                                    "dots":true
                                }' data-slick-responsive='[
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":992, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":575, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":490, "settings": {"slidesToShow": 1} }
                                ]'>
            {% for book in adventure_books %}
            <div class="single-slide">
                <div class="product-card card-style-list">
                    <div class="card-image">
                        <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width:100px; height: 155px">
                    </div>
                    <div class="product-card--body">
                        {% load rating_stars %}
                        <div class="product-header">
                            <a href="#" class="author" style="font-size: 14px;">
                                {{ book.author }}
                            </a>
                            <h3><a href="{% url 'detail' book.pk %}">{{ book.title }}</a>
                            </h3>
                        </div> 
                        <div class="star-rating">
                            {% render_stars book.rating %}                            
                        </div> 
                        <div class="price-block">
                            <span class="price" style="font-size: 22px; margin-top: 20px;">£{{ book.price }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--=================================
Promotion Section Two
===================================== -->
<section class="section-margin">
    <h2 class="sr-only">Promotion Section</h2>
    <div class="container">
        <div class="promo-wrapper promo-type-four">
            <a href="#" class="promo-image promo-overlay bg-image"
                data-bg=" {% static 'website/image/bg-images/promo-banner-contained.jpg' %}">
                <!-- <img src="image/bg-images/promo-banner-contained.jpg" alt="" class="w-100 h-100"> -->
            </a>
            <div class="promo-text w-100 justify-content-center justify-content-md-left">
                <div class="row w-100">
                    <div class="col-lg-8">
                        <div class="promo-text-inner">
                            <h2>Buy 3. Get Free 1.</h2>
                            <h3>50% off for selected products in Online Bookstore.</h3>
                            <a href="{% url 'shop-list' %}" class="btn btn-outlined--red-faded">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Home Blog
===================================== -->
<section class="section-margin">
    <div class="container">
        <div class="section-title">
            <h2>LATEST BLOGS</h2>
        </div>
        <div class="blog-slider sb-slick-slider" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 2,
        "dots": true
    }' data-slick-responsive='[
        {"breakpoint":1200, "settings": {"slidesToShow": 1} }
    ]'>
            <div class="single-slide">
                <div class="blog-card">
                    <div class="image">
                        <img src="{% static 'website/images/blog_pic1.png' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date">
                                    13
                                </span>
                                <span class="month">
                                    Aug
                                </span>
                            </div>
                            <h3 class="title"><a href="blog-details.html">Introduction to ML for Beginners</a>
                            </h3>
                        </div>
                        <p class="meta-para"><i class="fas fa-user-edit"></i>Post by <a href="#">AI_Noah</a></p>
                        <article class="blog-paragraph">
                            <h2 class="sr-only">blog-paragraph</h2>
                            <p>We have seen Machine Learning as a buzzword for the past few years, the reason for this might be the high amount of data production by applications,...</p>
                        </article>
                        <a href="blog-details.html" class="card-link">Read More <i
                                class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="blog-card">
                    <div class="image">
                        <img src="{% static 'website/images/blog_pic2.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date">
                                    19
                                </span>
                                <span class="month">
                                    Jan
                                </span>
                            </div>
                            <h3 class="title"><a href="blog-details.html">Where to start:Best classics for beginners </a>
                            </h3>
                        </div>
                        <p class="meta-para"><i class="fas fa-user-edit"></i>Post by <a href="#">Bookworm</a></p>
                        <article class="blog-paragraph">
                            <h2 class="sr-only">blog-paragraph</h2>
                            <p>Want to start reading the classics but not sure where to start?In our guide to the best classics for beginners, we shares six easy-to-read classic books you'll love....</p>
                        </article>
                        <a href="blog-details.html" class="card-link">Read More <i
                                class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="blog-card">
                    <div class="image">
                        <img src="{% static 'website/images/blog_pic3.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date">
                                    13
                                </span>
                                <span class="month">
                                    Aug
                                </span>
                            </div>
                            <h3 class="title"><a href="blog-details.html">27 Cookbooks for Beginners </a>
                            </h3>
                        </div>
                        <p class="meta-para"><i class="fas fa-user-edit"></i>Post by <a href="#">Hastech</a></p>
                        <article class="blog-paragraph">
                            <h2 class="sr-only">blog-paragraph</h2>
                            <p>Opening up an actual cookbook for the first time can be super intimidating—especially if you’re deep in the “work all day, takeout all night” kind of mindset...</p>
                        </article>
                        <a href="blog-details.html" class="card-link">Read More <i
                                class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
Footer
===================================== -->
</div>
<!--=================================
Brands Slider
===================================== -->
<section class="section-margin">
    <h2 class="sr-only">Brand Slider</h2>
    <div class="container">
        <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                        "autoplay": true,
                                        "autoplaySpeed": 8000,
                                        "slidesToShow": 6
                                        }' data-slick-responsive='[
            {"breakpoint":992, "settings": {"slidesToShow": 4} },
            {"breakpoint":768, "settings": {"slidesToShow": 3} },
            {"breakpoint":575, "settings": {"slidesToShow": 3} },
            {"breakpoint":480, "settings": {"slidesToShow": 2} },
            {"breakpoint":320, "settings": {"slidesToShow": 1} }
        ]'>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-3.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-4.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-5.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-6.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
            </div>
            <div class="single-slide">
                <img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!--=================================
Footer Area
===================================== -->

{% endblock content %}