{% extends 'base2.html' %}

{% load static %}
{% block content %}
		<section class="breadcrumb-section" style="margin-top:-30px">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
							<li class="breadcrumb-item active">Order Complete</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>

		<!-- order complete Page Start -->
		<section class="order-complete inner-page-sec-padding-bottom" style="margin-top:-30px">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="order-complete-message text-center">
							<h1>Thank you !</h1>
							<p>Your order has been received.</p>
						</div>
						<ul class="order-details-list">
                            {% load custom_filters %}
							<li>Order Number: <strong>{{ "ignored" | random_order_number }}</strong></li>
							<li>Date: <strong>{{ "ignored" | current_time }}</strong></li>
							<li>Total: <strong>${{ total_price }}</strong></li>
							<li>Payment Method: <strong>Cash on Delivery</strong></li>
						</ul>
						<!-- <p>Pay with cash upon delivery.</p> -->
						<h3 class="order-table-title">Order Details</h3>
						<div class="table-responsive">
							<table class="table order-details-table">
								<thead>
									<tr>
										<th>Product</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
                                    {% for item in basket %}
                                    {% if item.qty != 0 %}
                                    {% with product=item.product %}
                                    <tr>
                                        
											<td style="margin-left: -500px">
												{{product.title}} x {{item.qty}} 
											</td>
                                        
                                        
                                        <td><span>${{ item.price }}  x {{item.qty}} </span></td>
                                    </tr>
                                    {% endwith %}
                                    {% endif %}
                                               
                                {% empty %}
                                    <tr>
                                        <td colspan="2">No items in the basket.</td>
                                    </tr>
                                {% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Subtotal:</th>
										<td><span>${{ total_price }}</span></td>
									</tr>
									<tr>
										<th>Payment Method:</th>
										<td>Cash on Delivery</td>
									</tr>
									<tr>
										<th>Total:</th>
										<td><span>${{ total_price }}</span></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- order complete Page End -->
	</div>
	<!--=================================
  Brands Slider
===================================== -->
	<section class="section-margin">
		<h2 class="sr-only">Brand Slider</h2>
		<div class="container">
			<div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-3.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-4.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-5.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-6.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-1.jpg' %}" alt="">
				</div>
				<div class="single-slide">
					<img src="{% static 'website/image/others/brand-2.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--=================================
    Footer Area
===================================== -->
{% endblock content %}