{% extends "base2.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<section class="breadcrumb-section" style="margin-top: -25px">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Password reset</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="page-section inner-page-sec-padding-bottom" style="margin-top: -25px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="login-form">
                        <div class="row">
                            
                            <div class="col-md-12 col-12 mb--15">
                                <label for="{{ form.email.id_for_label }}">Email</label>
                                <input class="mb-0 form-control" type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
                                       placeholder="Enter your email here..." value="{{ form.email.value|default_if_none:'' }}" required>
                                {% if form.email.errors %}
                                    <div class="error">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success" href="{% url 'password_reset_done' %}">Send E-mail</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock content %}