{% extends "base2.html" %}
{% load static %}
{% block title %}Basket Summary{% endblock %}
{% block content %}

<main class="pt-5" style="margin-top:-50px">
  <div class="container">
    <h1 class="h5">Shopping basket</h1>
    {% for item in basket %}
    {% if item.qty != 0 %}
    {% with product=item.product %}    
    <li class="text-primary">Available</li>
    <div data-index="{{product.id}}" class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image_url }}">
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2">{{ product.title }}</h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">{{product.bookFormat}}</div>
              <div class="col-6 text-end"><span class="h6 fw-bold">${{ product.price }}</span></div>
              <div class="col-7"> Quantity: {{item.qty}}</div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <form id="delete-basket-form" method="post" action="{% url 'basket:basket_add' %}">
                    {% csrf_token %}
                    <input type="hidden" name="productid" value="{{ product.id }}">
                    <input type="hidden" name="productqty" value="0">
                    <button type="submit" id="delete-basket-btn" class="btn btn-secondary btn-sm">Delete</button>
                </form>
              </div>
              <a href="{% url 'basket:basket_checkout' product.id %}" class="btn btn-outline-success" role="button" style="width: 175px;  margin-left: 700px;" >Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
    <div class="col-12 text-end">
      <div class="h6 fw-bold">Sub Total: $<div id="subtotal" class="d-inline-flex">{{item.total_price}}</div></div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</main>

{% endblock %}